@charset "UTF-8";

@font-face {
    font-family: "Benton Sans";
    src: url("bentonsans-regular.eot");
    src: url("bentonsans-regular.eot?#iefix") format("embedded-opentype"), url("bentonsans-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: "Benton Sans";
    src: url("bentonsans-bold.eot");
    src: url("bentonsans-bold.eot?#iefix") format("embedded-opentype"), url("bentonsans-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold
}

@font-face {
    font-family: "Benton Sans";
    src: url("BentonSans-Light.eot");
    src: url("BentonSans-Light.eot?#iefix") format("embedded-opentype");
    src: url("BentonSans-Light.woff") format("woff");
    src: url("BentonSans-Light.woff2") format("woff2");
    src: url("BentonSans-Light.ttf") format("ttf");
    src: url("BentonSans-Light.otf") format("otf");
    font-style: light;
    font-weight: normal
}
